.home-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer; /* Add this line to make the checkbox clickable */
}

.line_through {
  text-decoration: line-through;
}

.icon {
  margin-right: 10px;
  cursor: pointer; /* Add this line to make the trash icon clickable */
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
}

.create-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-input {
  flex-grow: 1;
  margin-right: 10px;
}

.create-button {
  flex-shrink: 0;
}
